body {
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0 auto;
}

h1 {
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

#encabezado {
    background-color: #0099cc;
}

#contenido {
    padding: 10px;
    background-color: #EEEEEE;
    height: 600px;
}

#pie {
    background-color: #0099cc;
    color: #ff0000;
    height: 30px;
}

.btn-cancele,
button,
input[type='submit'] {
    width: 150px;
    text-align: center;
    height: 20px;
    background: #fff;
    color: #086A87;
    letter-spacing: 1px;
    border: 2px solid #086A87;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 10px;
}

.btn-cancele,
button:hover,
input[type='submit']:hover {
    background: #086A87;
    color: #fff;
}

span {
    font-weight: bold;
    font-size: 18px;
}